{% extends 'base.html' %}

{% block title %}ОКС-хостинг{% endblock %}

{% block sidebar %}
{% if user.is_authenticated %}
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-2">
            <ul class="list-group mb-3">
                <a href="{% url 'BuilderOKS' %}" class="list-group-item btn">Создать сайт</a>                
                <a href="{% url 'Template' %}" class="list-group-item btn">Шаблоны</a>
                <a href="{% url 'VideoLesson' %}" class="list-group-item btn">Смотреть курсы</a>
                <a href="{% url 'HostingList' %}" class="list-group-item btn">Запрос на хостинг</a>
            </ul>
        </div>
        <div class="col-md-10">
            {% endif %}
            {% endblock sidebar %}


{% block content %}
    <h2>Запросы на хостинг</h2>

{% if user.is_staff %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Домен</th>
                    <th>HTML файл</th>
                    <th>CSS файл</th>
                    <th>Статус</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                {% for hosting in hostings %}
                <tr>
                    <td>ID: {{ hosting.0.id }}</td>
                    <td>{{ hosting.0.title }}</td>
                    <td>{{ hosting.0.domen_name }}</td>
                    <td><a href="{{ hosting.0.file_html.url }}" download>Скачать HTML</a></td>
                    <td>
                        {% if hosting.0.file_css %}
                            <a href="{{ hosting.0.file_css.url }}" download>Скачать CSS</a>
                        {% else %}
                            <span>Нет файла</span>
                        {% endif %}
                    </td>
                    <td>{{ hosting.0.status|yesno:"Одобрена,На рассмотрении" }}</td>
                    <td>
                        {% if not hosting.0.status %}
                            <form method="post" action="{% url 'ApproveHosting' hosting.0.id %}">
                                {% csrf_token %}
                                <button class="btn btn-success btn-sm" type="submit">Одобрить</button>
                            </form>
                        {% else %}
                            <form method="post" action="{% url 'RefuseHosting' hosting.0.id %}">
                                {% csrf_token %}
                                <button class="btn btn-danger btn-sm" type="submit">Отказать</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <br>
        {% if hostings %}
            <p><strong>Название:</strong> {{ hostings.0.title }}</p>
            <p><strong>Домен:</strong> 
                <a href="http://127.0.0.1:8000/{{ hostings.0.domen_name }}"> http://127.0.0.1:8000/{{ hostings.0.domen_name }} </a>
            </p>
            <p><strong>Статус:</strong> {{ hostings.0.status|yesno:"Одобрена,На рассмотрении" }} </p>
        {% else %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Отправить</button>
            </form>
        {% endif %}
    {% endif %}
    </div>
</div>
{% endblock content %}