{% extends 'base.html' %}

{% block title %}ОКС{% endblock %}

{% block content %}
<link type="text/css" rel="stylesheet" href="/media/Usersite/WebsiteBuilderOksCss/BuilderHomeStyles.css">
</head>
<body>
    <main>
        <div class="container">
            <div class="_5"><h1>ОКС - Отечественный конструктор сайтов</h1></div>
            <span>Мы предлагаем лучшие решения для создания сайтов</span>

            <button class="main-button"><a href="/OKSv2-master/OKSv2-master/templates/WebsiteBuilder/builder.html">Создать сайт</a></button>
            <button class="main-button"><a href="/OKSv2-master/OKSv2-master/templates/WebsiteBuilder/profile.html">Профиль</a></button>
        </div>

        <section>
            <div class="rich-text w-richtext">
                <h2>Создайте свой виртуальный мир с помощью нашего конструктора сайтов!</h2>

                <blockquote class="block-quote">
                    В современном мире, где каждое мгновение имеет значение, возможность быстро и легко создать свой собственный сайт стала не просто желанием, а необходимостью. Неважно, являетесь ли вы владельцем небольшого бизнеса, фрилансером или просто хотите поделиться своими идеями с миром — наш конструктор сайтов расширяет ваши горизонты и открывает двери к новым возможностям.
                </blockquote>

                <h4>Почему выбирают наш конструктор?</h4>

                <ul role="list">
                    <li>Простота и удобство: Вам не нужно быть профессиональным веб-разработчиком, чтобы создать красивый и функциональный сайт. Наш интуитивно понятный интерфейс позволяет вам самостоятельно конструировать страницы, добавлять элементы и настраивать дизайн, не тратя время на изучение сложных технологий.</li>
                    <li>Безграничные возможности: Вы можете выбрать из множества шаблонов и настроить их под себя. Добавляйте изображения, видео, текст и любые другие элементы по вашему желанию. Ваш сайт может быть таким уникальным, как вы сами!</li>
                    <li>Адаптивный дизайн: Сегодня большинство пользователей заходят в интернет с мобильных устройств. Наши шаблоны автоматически адаптируются под любые размеры экрана, так что ваш сайт будет великолепно выглядеть на телефонах, планшетах и компьютерах.</li>
                    <li>Интегрированные функции хостинга
                        Многие конструкторы сайтов включают хостинг в свои пакеты услуг. Это избавляет от необходимости искать отдельного хостинг-провайдера, так как пользователи могут сразу начать с создания сайта и сразу же сделать его доступным в интернете.</li>
                </ul>

                <ul role="list">
                    <li>Поддержка 24/7: Мы всегда готовы помочь вам, если у вас возникнут вопросы или понадобится помощь. Наша команда поддержки работает круглосуточно, чтобы гарантировать, что ваш опыт будет безмятежным и приятным.</li>
                </ul>
            </div>
        </section>
    </main>

    <div class="footer-wrap">
        <div class="paragraph">Директор компании CodeCraft </div>
        <a href="https://t.me/Alexander1818" target="_blank" class="footer-item">Telegram</a>
    </div>
{% endblock content %}

