{% extends 'base.html' %}

{% block title %}Ошибка - ОКС{% endblock %}

{% block sidebar %}
{% if user.is_authenticated %}
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-2">
            <ul class="list-group mb-3">
                <a href="{% url 'BuilderOKS' %}" class="list-group-item btn">Создать сайт</a>
                <a href="{% url 'Template' %}" class="list-group-item btn">Шаблоны</a>
                <a href="{% url 'VideoLesson' %}" class="list-group-item btn">Смотреть курсы</a>
                <a href="{% url 'HostingList' %}" class="list-group-item btn">Запрос на хостинг</a>
            </ul>
        </div>
        <div class="col-md-10">
            {% endif %}
            {% endblock sidebar %}

            {% block content %}
            <div class="text-center mt-5">
                <h2>Ошибка доступа</h2>
                <p>{{ message }}</p>
                {% if user.is_authenticated %}
                <p>
                    Пожалуйста, дождитесь одобрения заявки на хостинг.
                </p>
                {% else %}
                <p>
                    Вы не авторизованы. Пожалуйста,
                    <a href="{% url 'login' %}">войдите в систему</a>, чтобы продолжить.
                </p>
                {% endif %}
            </div>
            {% endblock content %}
