body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  background-image: url('https://img.freepik.com/premium-vector/abstract-white-grey-gradient-with-modern-geometric-pattern-background-graphic-design_120819-1304.jpg?w=1380'); /* Замените на ваш URL */
  background-size: cover;
  background-position: center;
  
  animation: fadeIn 2s;
}
background-image{
  height:115%;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: rgba(0, 0, 0, 0.65); /* Полупрозрачный черный фон */
}

h1 {
  font-size: 48px;
  margin: 0;
  animation: epicText 1.5s ease-in-out forwards;
  transform: translateY(-50px); /* Начальная позиция за пределами экрана */
  opacity: 0; /* Скрываем текст на старте */
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.65), 
               0 0 25px #ffffff;
  padding: 15px 50px;
}
@keyframes epicText {
  to {
      transform: translateY(0); /* Возвращаем в обычное положение */
      opacity: 1; /* Делаем текст видимым */
  }
}


span{
  font-size: 20px;
  margin: 20px 0;
  max-width: 600px;
}
.main-button a {
  color: white; /* Цвет текста ссылки */
  text-decoration:none;
}

.main-button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: white;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.main-button:hover {
  background-color: #555;
}

.registration-template {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #333;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #e6e6e6;
  display: none; /* Скрываем форму регистрации по умолчанию */
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 22px); /* 100% - padding and border */
}

button.register-button {
  padding: 10px;
  background-color: rgb(154, 154, 154);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* Отступ сверху от формы */
}

button.register-button:hover {
  background-color: rgb(100,100,100);
}

.not_registration {
  text-align: center;
  margin-top: 15px; /* Отступ от формы */
}

button.no-registration-button {
  background: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline; /* Подчеркнутый текст */
}

button.no-registration-button:hover {
  color: #0056b3; /* Цвет при наведении */
}


footer {
    clear: both;
    background-color: #2f2f2f;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    
}
.hidden {
    display: none;
}



.mogenous-grotun-deconomy {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 0px;
  width: 0px;
  padding: 40px 20px 0px 20px;
  background: rgba(255, 255, 255, 0.60);
  float: left;
  margin-top: 20px;
  text-indent: -330px;
  overflow: hidden;
  -webkit-transition: 
    background 0.25s ease-in-out 0.5s,
    width 0.25s ease-in-out 0.25s,
    height 0.25s ease-in-out 0.25s,
    text-indent 0.25s ease-in-out 0.25s,
    padding-top 0.25s ease-in-out 0s;
  -moz-transition:
    background 0.25s ease-in-out 0.5s,
    width 0.25s ease-in-out 0.25s,
    height 0.25s ease-in-out 0.25s,
    text-indent 0.25s ease-in-out 0.25s,
    padding-top 0.25s ease-in-out 0s;
  transition: 
    background 0.25s ease-in-out 0.5s,
    width 0.25s ease-in-out 0.25s,
    height 0.25s ease-in-out 0.25s,
    text-indent 0.25s ease-in-out 0.25s,
    padding-top 0.25s ease-in-out 0s;
  cursor: pointer;
}
.mogenous-grotun-deconomy:hover,
.mogenous-grotun-deconomy:focus {
  background: rgba(255, 255, 255, 0.85);
  width: 19%;
  height: 230px;
  text-indent: 20px;
  -webkit-transition: 
    background 0.25s ease-in-out 0s,
    width 0.25s ease-in-out 0.25s,
    height 0.25s ease-in-out 0.25s,
    text-indent 0.25s ease-in-out 0s,
    padding-top 0.25s ease-in-out 0.5s;
  -moz-transition:
    background 0.25s ease-in-out 0s,
    width 0.25s ease-in-out 0.25s,
    height 0.25s ease-in-out 0.25s,
    text-indent 0.25s ease-in-out 0s,
    padding-top 0.25s ease-in-out 0.5s;
  transition: 
    background 0.25s ease-in-out 0s,
    width 0.25s ease-in-out 0.25s,
    height 0.25s ease-in-out 0.25s,
    text-indent 0.25s ease-in-out 0s,
    padding-top 0.25s ease-in-out 0.5s;
}
.mogenous-grotun-deconomy:hover a,
.mogenous-grotun-deconomy:focus a{
  cursor: pointer;
  -webkit-transition: 
    all 0.25s ease-in-out 0.25s,
    background 0.25s ease-in-out 0s;
  -moz-transition:
    all 0.25s ease-in-out 0.25s,
    background 0.25s ease-in-out 0s;
  transition:
    all 0.25s ease-in-out 0.25s,
    background 0.25s ease-in-out 0s;
}
.mogenous-grotun-deconomy a {
    color: #656262;
    background: rgba(12, 12, 12, 0);
    text-decoration: none;
    width: 57%;
    display: block;
    padding-top: 9px;
    padding-bottom: 10px;
    margin-left: -25px;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
.mogenous-grotun-deconomy a:hover,
.mogenous-grotun-deconomy a:focus {
  color: #333;
  text-indent: 25px;
  width: 118%;
  background: rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.30s ease-in 0s;
  -moz-transition: all 0.30s ease-in 0s;
  transition: all 0.30s ease-in 0s;
}
.mogenous-grotun-deconomy a.active {
  color: #333;
  width: 118%;
  text-indent: 20px;
  background: rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.25s ease-out 0.25s;
  -moz-transition: all 0.30s ease-out 0.30s;
  transition: all 0.30s ease-out 0.30s;
}
.mogenous-grotun-deconomy:hover .kemogen,
.mogenous-grotun-deconomy:hover .kemogen:before,
.mogenous-grotun-deconomy:hover .kemogen:after{
  background: #888;
  -webkit-transition: all 0.30s ease-out 0.5s;
  -moz-transition: all 0.30s ease-out 0.5s;
  transition: all 0.30s ease-out 0.5s;
}
.mogenous-grotun-deconomy .kemogen,
.mogenous-grotun-deconomy .kemogen:before,
.mogenous-grotun-deconomy .kemogen:after {
  background: #000;
  width: 22px;
  height: 4px;
  position: absolute;
  display: block;
  content: "";
  cursor: pointer;
  right: 0;
  top: 20px;
  margin-top: -2px;
  margin-left: -11px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.25s ease-out 0.5s;
  -moz-transition: all 0.30s ease-out 0.5s;
  transition: all 0.30s ease-out 0.5s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.mogenous-grotun-deconomy .kemogen {
  right: 10px;
}
.mogenous-grotun-deconomy .kemogen:before {
  top: -6px;
  margin-top: 0;
}
.mogenous-grotun-deconomy .kemogen:after {
  top: 6px;
  margin-top: 0;
}
.mogenous-grotun-deconomy:hover .kemogen {
  width: 0;
}
.mogenous-grotun-deconomy:hover .kemogen:before {
  /*top: -9px;*/
  top: -3px;
  width: 16px;
  right: 6px;
  -ms-transform: rotate(-28deg);
  -webkit-transform: rotate(-28deg);
  transform: rotate(-28deg);
}
.mogenous-grotun-deconomy:hover .kemogen:after {
  /*top: 9px;*/
  top: 3px;
  width: 16px;
  right: 6px;
  -ms-transform: rotate(28deg);
  -webkit-transform: rotate(28deg);
  transform: rotate(28deg);
}